<div class="nav">
  <h1><a href="/">Learning to Burn</a></h1>
  <div class="topmenu">
    {% for theme in site.data.themes %}
      {% if theme == page.theme %}
        {% assign active="active" %}
      {% else %}
        {% assign active="" %}
      {% endif %}
      <div class="theme {{active}}"><span>{{theme}}</span>{% include menu.html theme=theme%}</div>
    {% endfor %}
      <div class="login" id="signInButton">
          <span id="signInLabel">Sign In</span>
      </div>
      <div class="logout" id="signOutButton" onClick="googleAuthor.signOutUser()">
        <img id="signOutPic" src="" align="left" />
        <span id="signOutLabel">Sign Out</span>
    </div>
  </div>
</div>