<div class="nav">
  <h1><a href="/">Learning to Burn</a></h1>
  <div class="topmenu">
      <div class="theme"><span>Check</span>{% include menu.html theme='Check'%}</div>
      <div class="theme"><span>Plan</span>{% include menu.html theme='Plan'%}</div>
      <div class="theme"><span>Prepare</span>{% include menu.html theme='Prepare'%}</div>
      <div class="theme"><span>Do</span>{% include menu.html theme='Do'%}</div>
      <div class="theme"><span>Post-Burn</span>{% include menu.html theme='Post-Burn'%}</div>

      <div class="login" id="signInButton">
          <span id="signInLabel">Sign In</span>
      </div>
      <div class="logout" id="signOutButton" onClick="signOutUser()">
        <img id="signOutPic" src="" align="left" />
        <span id="signOutLabel">Sign Out</span>
    </div>
  </div>
</div>