---
---



body.brand_scion{
  --text-color: #424242;
  --text-alt-color: #646478;
  --highlight_color: #227eac;
  --border_color: #dcdcdc;
  --reverse_color: #fff;


  --palette_green: #d9ebcc;
  --palette_blue: #227eac;
  --palette_orange: #f7941d;
  --palette_dark_green: #00653e;

  --portal_width: 1130px;
  
  box-sizing: border-box;
  font-family: 'Neuzeit Grotesk', sans-serif;
  color: var(--text-color);
  h1, h2, h3, h4, h5{ 
    color: var(--text-alt-color);

  }
  h2{
    margin: -1.3em 0 0;
    font-size: 120%;
  }
  a, a:hover, a:visited{
    color: var(--highlight_color);
  }
  a:hover{
    text-decoration: underline;
  }

  .nav {
    h1{
      font-weight: normal;
      letter-spacing: 0;
      margin-right: 0.4em;
      font-variant: small-caps;
    }
    .topmenu{
      max-width: var(--portal_width);
      width: 100%;
      margin: 0 auto;
      .theme:not(:nth-last-of-type(1)):after{
        content: url('images/menu_arrow.svg');
        display: block;
        position: absolute;
        top: 0.8em;
        right: -2.3em;
      }
      .theme, .login, .logout{
        color: var(--highlight_color);
        border: none;
        margin: 2px 1.2em;
        height: 27px;
        position: initial;
        font-weight: bold;
        position: relative;

        .menu{
          padding: 0;
          width: 100vw;
          position: fixed;
          left: 0px;
          top: calc(7em - 2px);
          background-color: var(--text-color);
          color: var(--reverse_color);

          li{
            box-sizing: border-box;
            padding: 0.5em;
            background: none;
            a, a:hover, a:visited{
              color: var(--reverse_color);
              display: block;
            }
          }

          li.visited {
            a:before{
              content:url('images/white_tick.png');
            }
          }
        }
      }
      .login, .logout{
        // border: 1px solid var(--border_color);
        color: var(--text-color);
        font-weight: normal;
        img{
          margin-right: 5px;
        }
        span{
          height: 3em;
          margin-top: -0.8em;
          top: 0;
          display: flex;
          align-items: center;
        }
      }
    }

    .theme.active{
      color: var(--reverse_color);
      background-color: var(--highlight_color);
      ul{
        color: var(--highlight_color);
      }
    }
  }

  .page{
    .pageBack{
      min-height: calc( 100vh - 9em);
    }
    .pageContent{
      padding: 0;
      > *{
        padding-left: calc( max( 20px, 50vw - var(--portal_width)/2 ));
        padding-right: calc( max( 20px, 50vw - var(--portal_width)/2 ));
      }
      code{
        display: none;
      }
      table{
        border-color: var(--border_color);
        td{
          border-color: var(--border_color);
        }
        th{
          background-color: var(--highlight_color);
          border-color: var(--highlight_color);
          color: var(--reverse_color);
          font-weight: bold;
        }
      }
      table.table_with_header_column{
        tr > td:first-child{
          background-color: var(--highlight_color);
          border-color: var(--highlight_color);
          color: var(--reverse_color);
          font-weight: bold;
        }
      }
      blockquote {
        text-align: left;
        font-family: monospace;
        border-width: 9px 0;
        border-color: var(--palette_orange);
        border-style: solid;
        padding: 1em;
      }
      h2 + blockquote, h3 + blockquote {
        font-family: inherit;
        padding: 1em;
        background-color: var(--palette_dark_green);
        border: none;
        width: 40%;
        text-align: center;
        border-radius: 0;
        font-size: 160%;
        margin-left: calc( max( 2em, 50vw - var(--portal_width)/2 + 2em));
        color: var(--reverse_color);
        a, a:visited {
          color: var(--border_color);
        }
      }
      
      
      section{
        // outline: hotpink 1px solid;
        background-color: white; 
        width: 100%;
        box-sizing: border-box;
        padding-top: 1em;
        padding-bottom: 1em;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
      }
      section.section_1{ 
        background-color: var(--palette_blue); 
        color: var(--reverse_color); 
        a, a:visited {
          color: var(--border_color);
        }
        h3{
          color: var(--border_color);
        }
        table {
          th{
            background-color: var(--border_color);
            color: var(--text-color);
          }
        }
        table.table_with_header_column{
          tr > td:first-child{
            background-color: var(--border_color);
            border-color: var(--border_color);
            color: var(--text-color);
          }
        }
      }
      section.section_3{ 
        background-color: var(--palette_green); 
        table{
          border-color: var(--text-alt-color);
          th, td{
            border-color: var(--text-alt-color);
          }
        }
      }
    }
  }
  footer{
    background-color: var(--text-color);
    color:var(--reverse_color);
    a, a:hover, a:visited{
      color: var(--reverse_color);
    }
    font-size: 14px;
    margin: 0;
    padding: 0.5em;
    > div{
      max-width: var(--portal_width);
      margin-left: auto;
      margin-right: auto;
    }
  }
  .toast{
    background-color:var(--border_color);
    z-index: 9999;
    text-align: center;
  }

}
@media (max-width: 768px) {
  body.brand_scion .nav, body.brand_scion.signedIn .nav {
    h1.logout, h1.login, h1{
      display: none;
    }
  }
}